
.alt-section{
   
    min-height:100%;    
    background:#fff;
 

}
.container{
    display:block;
    //min-height:100vh;
    max-width:1200px;
    margin:10px auto;
    background:#ffa000;
}

.container:after{
     content: '';
     display:block;
     clear:both;
     
}
.unit{

    width:15%;
    margin:1% 0.821%;
    height:200px;
    float:left;
    background: #fff;
    min-width:140px;

}
.cat{
    text-align: center;
    display:block;
    font-size:8em;
    color:#595a5c;
    margin-top:10px;
    
}       
.topics{
    text-align: center;
    padding-top:20px;
    font-size:1.6em;
}
@media only screen  AND (max-width:1205px){
    .container{margin:0 auto;}
}



@media only screen  AND (max-width:925px){
    .unit{height:160px;}
    .cat{ font-size:7em;}
}