
footer{
	height: 245px;
	color:#fff;
	font-size:12px;
	position:relative;
	z-index:-2;
	background-color:#FFA000;

}

/* Set a width to the outermost UL and center it */

footer > ul{
	width:960px;
	position:fixed;
	left:50%;
	bottom:0;
	margin-left:-480px;
	padding-bottom: 60px;
	z-index:-1;
}

/* The four columns of links */

footer > ul > li{
	width:25%;
	float:left;
}

footer ul{
	list-style: none;
}

/* The links */

footer > ul > li ul li{
	margin-left:43px;
	text-transform: uppercase;
	font-weight:bold;
	line-height:1.8;
}

footer > ul > li ul li a{
	text-decoration: none !important;
	color:#fff !important;
}

footer > ul > li ul li a:hover{
	color:#ddd !important;
}

/* The company logo */

footer a.logo{
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	margin-left: 16px;
	display: inline-block;
	margin-top: 7px;
}

footer a.logo i{
	font-style: normal;
	position: absolute;
	width: 60px;
	display: block;
	left: 48px;
	top: 18px;
	font-size: 12px;
	color: #999;
}

footer a.logo:before{
	content: '';
	display: inline-block;
	background: url('../img/sprite.png') no-repeat -19px -70px;
	width: 48px;
	height: 37px;
	vertical-align: text-top;
}

/* Common styles for the four color bars */

footer p{
	width: 90%;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	background-color: #058cc7;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	opacity:0.9;
	cursor:default;

	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

footer > ul > li:hover p{
	opacity:1;
}

footer p:before{
	content: '';
	display: inline-block;
	background: url('../img/sprite.png') no-repeat;
	width: 16px;
	height: 18px;
	margin: 0 12px 0 15px;
	vertical-align: text-bottom;
}


/*-------------------------
	The different colors
--------------------------*/


footer p.home{
	background-color: #0096d6;

	background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
	background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
	background-image:linear-gradient(top, #0096d6, #008ac6);
}

footer p.home:before{
	background-position: 0 -110px;
}

footer p.services{
	background-color: #00b274;

	background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
	background-image:-moz-linear-gradient(top, #00b274, #00a46b);
	background-image:linear-gradient(top, #00b274, #00a46b);
}

footer p.services:before{
	background-position: 0 -129px;
}

footer p.reachus{
	background-color: #d75ba2;

	background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
	background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
	background-image:linear-gradient(top, #d75ba2, #c75496);
}

footer p.reachus:before{
	background-position: 0 -89px;
}

footer p.clients{
	background-color: #E54040;

}

footer p.clients:before{
	background-position: 0 -69px;

}

/*-----------------------------------Size860-----------------------*/
.contactus{
    display:none;
    margin-top:50px;
    float:right;}
 display:block

footer{
  height: 80px;
  margin-top: -80px;
  width: 100%;
  height: 100px;
  background:#FFA000;
  color:#fff;

}

/*-----------------------------------SOME_ANIMATION-----------------------*/

.twitter {
    transition: transform 1s ease-in-out 0.1s, border-radius 0.9s ease-in-out 0s;
    font-size:pt;
    display:inline-block;
    font-size: 15pt;
    padding:5px;
}
.twitter:hover {
    transform: rotate(360deg) scale(1.3);
    border-radius: 20px
}

.facebook {
    transition: transform 1s ease 0.1s;
    display:inline-block;
    font-size: 20pt;
        padding:3px;
    
}
.facebook:hover {
    transform-origin: left top;
    transform: rotate(90deg);
}

.google{
    transition: transform 0.6s ease-out 0.1s;
    display:inline-block;
    font-size: 15pt;
    padding:5px;
}
.google:hover {
    transform: rotate(-360deg) scale(1.5);
}

.in {
    transition: transform 0.3s ease-in 0.1s;
    display:inline-block;
    font-size: 15pt;
    padding:5px;
}
.in:hover {
    transform: rotate(-90deg);
}
@media only screen  AND (max-width:860px){
   
}