.clearfix{clear:both;}
header{ height:100%;
       
        nav{
            height:80px;
            background:$menu-color;
                 .logo{
                height:75px;
                width:28%;  
                float: left;
                //background:url(../img/logo.png) center center ;
                //background: cover;         
                     .main{  display:inline-block;
                            max-width: 100%;
                            height: auto;
                            vertical-align:  50%;}
                     .alternative{display:none;
                                     }
                 }
                .login{
                       display:inline-block;
                       height:65px;
                       width:65px;
                       border-radius:50%;
                       background:$menu-text;
                       float:right;
                       margin:7px 7% 0px 0px;
                       span{
                           display:block;
                           color:#fff; 
                           font-size:3.5em;
                           margin:5px -2px;
                       }
                      }  
                 .language{
                      float:right;
                      padding:25px 5% 0 0;
                          a{
                          font-size:1.2em;      
                          float:rigth;         
                          display: inline-block;
                          margin-left: 20px;
                           }
                     }
                
         }
        .banner{
             height:586px;
             background:url(../img/bg.png) center center; 
             background-size:cover;
             position:relative;
             overflow:hidden;
            .advert{ margin-top:30px;
                    text-align:center;
                    display:none;
                    color:#fff;
            }
        }
}

// поиск
.search{position: absolute;bottom:13%;width:100%;}
   .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
.form-wrapper {
        width:650px;
        padding: 15px;
        margin: 0px auto 0px auto;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper input {
         display:inline-block;
        width:340px;
        border-left: 20px solid #777;
        height: 20px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border:0;
        border-right:2px solid #444;
        background: #eee;
       // -moz-border-radius: 3px 0 0 3px;
      //  -webkit-border-radius: 3px 0 0 3px;
        //border-radius: 3px 0 0 3px;      
    }
    .form-wrapper select{  
        padding: 9px 16px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
        option{ height: 20px;}
        .word{ 
       
    }    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper .bigbutton {
        display:block;
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 21%;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
    .form-wrapper .smallbutton{
        
        display:none;
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 40px;
        color: #fff;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 50%;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
            span{font-size:1.5em;}

                }    
      
    .form-wrapper button:hover{		
        background: #e54040;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        display:block;
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


@media only screen AND (max-width:1086px){
    header>nav>.logo>.main{margin-top:10px;}
}
@media only screen AND (max-width:783px){
    header>nav>.logo>.main{display:none;}
    header>nav>.logo>.alternative{display:inline-block;}
     .search{position: absolute;top:40%;width:100%;}
    .form-wrapper .bigbutton{display:none;}
    .form-wrapper .smallbutton{display:block;}
    .form-wrapper button:before{display:none;}
    .form-wrapper { width:455px;}
    .form-wrapper input{width:400px;border:0;}
    .form-wrapper select {padding: 9px 141px;}
    header>.banner{ height:586px; background:#FFC107;}    
    header>.banner>.advert{display:block;}
}
@media only screen AND (max-width:495px){
   
    .form-wrapper button:before{display:none;}
    .form-wrapper { width:285px;}
    .form-wrapper input{width:228px;border:0;}
    .form-wrapper select {padding: 9px 55px;}
    
}
