.information
{   
    display:block; 
    min-height: 100%;
    background:#fff;
    max-width:963px;
    margin:0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
 
}

.information:after{
     content: '';
     display:block;
     clear:both;
     
}
.items
{    
    padding-top:20px;
    float:left;
    display:inline-block;
    width:50%;
    span
    {  
        display: inline-block;
        color:#fff;
        padding:18px 10px;
        font-size:3em;
        background: $menu-color;
        border-radius: 100px;
        clear:both;
        
    }
    .wrap
    {
        display:inline-block;
        width:300px;
        padding-left:15px;
        h4{ color:#000;
            font-size:20px;
            text-transform:uppercase;}
        p{ font-size:17px;
           padding-top:15px;}
    }
}

@media only screen  AND (max-width:886px){
    .items>span{ margin-left:40px;}
}
@media only screen  AND (max-width:700px){
    .items{width:100%}
    .wrap{width:100%}
    
}