@import "vars";
/*	Typography presets
  ------------------------------------	*/

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
{font-weight: bold;}

.gigantic{
  font-size: 110px;
  line-height: 1.09em;
  letter-spacing: -2px;
}
.huge, h1{
  margin-top:20px;
  text-align:center;
  font-size: 40px;
  line-height: 1.05em;
  letter-spacing: -1px;
}
.large, h2{
  font-size: 35px;
  line-height: 1.14em;
}
.bigger, h3{
  font-size: 26px;
  line-height: 1.38em;
}
.big, h4{
  font-size: 22px;
  line-height: 1.38em;
}
.small, small{
  font-size: 10px;
  line-height: 1.2em;
}

strong{
  font-weight: bold;
}



/* Links
  ------------------------------------	*/

a{
  color:$menu-text;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus{
  color: lighten($menu-text, 20%);
    cursor: crosshair;
}



/* Basic Styles
  ------------------------------------	*/
html{
  height:100%;
}
body
{ 
height:100%;
min-height:100%;
  font-size: 14px;
  font-family: 'Open Sans' sans-serif;
  color: #777;
 // -webkit-font-smoothing: antialiased;
  //-webkit-text-size-adjust: 100%;
}

/*
svg
  +size(100%)

@media screen and (max-width: 480px)
  h3
    padding: 50px 0 50px*/



