{% extends 'search/base.html' %}
{% block title %} Особистий кабінет - find.org.ua {% endblock title %}
{% block login %}
    <a href="/logout/">
        <div class="login "><span style="
    float: left;
    padding: 13px 0px 0px 46px;
    font-size: 23px;
"> Вийти </span></div>
    </a>
{% endblock login %}
{% block content %}
    <hr class="hr">
    <div class="content">

        {% if params or ads %}
            {% if params %}
                <h2 class="params-group-title">Збережені пошуки</h2>
                <div class="container params">


                    <div class="container">
                        {% for param in params %}
                            <div class="row">
                                <div class="four columns">
                                    <p class="param-title">
                                        <a href="{{ param.param.path }}"><h4>{{ param.param.keys }}</h4></a> <br>
                                        {% if param.param.area %}
                                            {{ param.param.area }}{% endif %}
                                        {% if param.param.city %}{{ param.param.city }}{% endif %}
                                    </p>
                                    <p>{% if param.param.category %}
                                        {{ param.param.category }}{% endif %}
                                        {% if param.param.subcategory %}
                                            {{ param.param.subcategory }}
                                        {% endif %} <br></p>
                                    {% for f in param.param.filterValue.all %}
                                        <p> {{ f.name }} </p>
                                    {% endfor %}
                                    <p class="left20">
                                        {% if param.param.price_from or param.param.price_to %}
                                            Ціна: {% if param.param.price_from %}
                                            від {{ param.param.price_from }}
                                        {% endif %}
                                            {% if param.param.price_to %}
                                                до {{ param.param.price_to }}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    Нових оголошень:<a href="{{ param.param.path }}" class="href-orange" target="_blank">
                                    {% if param.number_of_new_ads %}
                                        {{ param.number_of_new_ads }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </a>
                                </div>
                                <div class="four columns temp">
                                    <button class="btn btn-default" role="button">Налаштування</button>
                                </div>
                                <div class="four columns temp">
                                    <form method="post" class="delete-param-form">
                                        {% csrf_token %}
                                        <input type="hidden" value={{ param.param_id }} name="param_id"
                                               id="{{ param.param.id }}">
                                        <button class="btn btn-default btn-danger" role="button" type="submit"
                                                name="delete-param" id="delete-params-button">Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if ads %}
                <div class="container">
                    <h2 class="ads-group-title">Збережені оголошення</h2>

                    {% show_content ads %}
                </div>
            {% endif %}
        {% else %}
            <div class="contact">Тут ви будете бачити оголошення, ціну яких ви відслідковуєте, або параметри, за якими
                ви хотіли б бачити нові
                оголошення.
                <br>
                <a href="/ukraine/" class="href-blue">Пошукайте щось :)</a></div>
        {% endif %}

    </div>
{% endblock content %}
