{% extends 'search/base.html' %}
{% load staticfiles %}
{% block title %}Вхід - find.org.ua {% endblock title %}

{% block content %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1487697651559916',
                xfbml: true,
                version: 'v2.5'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <hr class="hr">
    <div class="login-wrapper">
        <div class="login-title">Вхід</div>
        <form action="" method="post" id="loginform" class="" role="form">
            {% csrf_token %}
            {% if login_error %}
                <span class="error-text">Неправильний логін</span>
                <br>
            {% endif %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username }}
            </div>
            {% if password_error %}
                <span class="error-text">Неправильний пароль</span>
                <br>
            {% endif %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password }}
            </div>


            <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                    <input type="submit" value="Увійти" id="btn-login" href="#" class="button red">
                    <button id="vklogin" onclick="location.href='vk-oauth2/'" class="button-primary blue">Увійти з VK</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 control">
                    <div>
                        Немає профілю?
                        <a href="/registration/" class="href-blue">
                            Зареєструйтеся!
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>











{% endblock content %}
