{% if params  %}
     Пошуковий рядок: {{ params.keys }} <br>
     Категорія: {{ params.category }} <br>
     Місто: {{ params.location }} <br>
     Ціна: від {{ params.price_from }} <br>
     "     " до {{ params.price_to }} <br>
     Стан: {{ params.condition }} <br>
     Продавець: {{ params.seller_type }} <br>
     <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="params" value="Не відслідковувати">
    </form>
{% endif %}


{% if ads %}
    <ul>
    {% for ad in ads %}
        <li>
            <td class="offer ">
				<table width="100%" cellspacing="0" cellpadding="0" class="fixed breakword  ad_idc8Es3" summary="Оголошення">
			<tbody>
				<tr>
					<td width="85" class="tcenter" valign="top">
						<p class="margintop10">
						<br/>{{ ad.date }}						</p>
						<br/>{{ ad.new }}						</p>
												<div class="rel observelinkinfo zi3 ">
							<a href="#" class="{id:179378155} observe-link inlblk lheight16 tdnone tcenter margintop5 vishid " data-statkey="ad.observed.list">
								<span class="icon inlblk observe2 observed-179378155">&nbsp;</span>
								<span class="link x-small gray2 block lheight14">
									<span>  </span>
								</span>
							</a>
							<div class="suggesttitleright small top abs zi2 br4 hidden">
								<p></p>
								<div class="target abs icon"></div>
							</div>
						</div>
											</td>
					<td width="120">
												<span class="rel inlblk detailcloudbox">
							<a
								class="thumb vtop inlblk rel tdnone linkWithHash scale4 detailsLink"
								href="{{ ad.url }}" title="">
								<img class="fleft" src={{ ad.foto_urls }} alt={{ ad.title}}>
							</a>
						</span>
						 					</td>
															<td valign="top">
						<h3 class="large lheight20 margintop10">
														<a href={{ ad.url }} class="marginright5 link linkWithHash detailsLink">
								<span>{{ ad.title }}</span>
							</a>
							
						</h3>
						<p class="color-9 lheight14 margintop3">
							<small class="breadcrumb small">
															{{ ad.category }}
{{ ad.location }}														</small>
						</p>
					</td>
					<td width="170" class="wwnormal tright td-price" valign="top">
						<div class="space rel">
													<p class="price large margintop10">
								<strong class="c000"> {{ ad.price }} </strong>
							</p>
																																</div>
					</td>
				</tr>
			</tbody>
		</table>
			</td>
</tr></li>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" name="ad{{ ad.id }}" value="Відслідковувати">
    </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No ads are available.</p>
{% endif %}