{% extends "search/base.html" %}
{% block title %} Реєстрація - find.org.ua {% endblock title %}

<body>
{% block content %}

{#    <div class="container border0">#}
{#        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">#}
{#                    <div class="panel panel-info">#}
{#                        <div class="panel-heading">#}
{#                            <div class="panel-title">Реєстрація</div>#}
{#                            <div style="float:right; font-size: 85%; position: relative; top:-17px">#}
{#                                <a id="signinlink" href="/login/">Увійти</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="panel-body" >#}
{#                <form action="" method="post" id="signupform" class="form-horizontal" role="form">#}
{#                    {% csrf_token %}#}
{#                     <div id="signupalert" style="display:none" class="alert alert-danger">#}
{#                        <p>Помилка:</p>#}
{#                        <span></span>#}
{#                    </div>#}
{##}
{#                     <div style="margin-bottom: 25px" class="input-group">#}
{#                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>#}
{#                        {{ form.username }}#}
{#                    </div>#}
{##}
{#                    <div style="margin-bottom: 25px" class="input-group">#}
{#                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>#}
{#                        {{ form.email }}#}
{#                    </div>#}
{##}
{#                    <div style="margin-bottom: 25px" class="input-group">#}
{#                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>#}
{#                        {{ form.password }}#}
{#                    </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <!-- Button -->#}
{#                                    <div class="col-md-offset-3 col-md-9">#}
{#                                        <input type="submit" id="btn-signup" class="btn btn-info" value="Зареєструватися">#}
{#                                        <span style="margin-left:8px;">або</span>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                    <div class="col-md-12 control">#}
{#                        <div style="border-top: 1px solid #bce8f1; padding-top:20px"#}
{#                             class="form-group col-md-12">#}
{##}
{#                            <div class="col-md-offset-3 col-md-6" style="padding-left: 8px">#}
{#                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i#}
{#                                        class="icon-facebook"></i>Реєстрація через Facebook#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                                </div>#}
{##}
{##}
{##}
{#                            </form>#}
{#                         </div>#}
{#                    </div>#}
{##}
{##}
{##}
{##}
{#         </div>#}
{#    </div>#}



        <hr class="hr">
    <div class="login-wrapper">
        <div class="login-title">Реєстрація</div>
        <form action="" method="post" id="loginform" class="" role="form">
            {% csrf_token %}
            {% if login_error %}
                <span class="error-text">Неправильний логін</span>
                <br>
            {% endif %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username }}
            </div>
            {% if password_error %}
                <span class="error-text">Неправильний пароль</span>
                <br>
            {% endif %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.email }}
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password }}
            </div>


            <div style="margin-top:10px" class="form-group">
                <!-- Button -->

                <div class="col-sm-12 controls">
                    <input type="submit" value="Зареєструватися" id="btn-login" href="#" class="button red">
                    <button id="vkreg" onclick="location.href='vk-oauth2/'" class="button-primary blue">VK</button>
                </div>
            </div>

        </form>
    </div>



{% endblock content %}

</body>

