body{
    font-family: 'Open Sans, Arial, Helvetica, sans-serif';
    /*font-family: wf_segoe-ui_normal, wf_segoe-ui_semilight, wf_segoe-ui_light, Arial, sans-serif;*/
}

hr{
    margin-bottom: 0;
}
.masthead .row .col-md-4 > p {
	margin: 10px 0 0 50px;
	width: 100%;
}

.pulledtop {
	padding-top: -20px;
}

footer > p {
	padding: 0;
	margin: 0;
}

.row {
	margin-bottom: 0px;
    border: 0px solid;
}

.row .cst {
	height: 120px;
	margin: 10px 0 10px 0;
}

.pcst {
	margin-top: 4px ;
}

.pcstbig{
	margin-top: 12px ;
}

.container {
	width: 80%;
	border: 1px solid #000;
}

.ad{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #00aef9;
    margin-bottom: 2px;
}

#middle-right  > p {
	padding: 0;
	margin: 0;
}

#csthead {
	padding: 0;
	margin: 2px 0 4px 0;
}

#right {
	border-left: 1px solid #8a8a8a;
}

#right  > p {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 8px 0 0 0;

}

#left  > p {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}



.border0 {
    border: 0;
}

hr {
	width: 80%;
}

#panelrow {
	margin-top: 10px;
}

.input-sm {
	margin-top: 10px;
	width: 50%;
}

.btn-group {
	margin: 10px 0 10px 0;
	
}

.col-xs-4 {
	min-height: 140px;
}

.pright {
	float: right;
	width: 20%;
	margin: 10px 0 10px 0;
}

#panelbot {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.panel-text-big{
	font-weight: bold;
	font-family: "Cambria" serif;
	font-size: 20px;
	margin-top:25px;
	margin-bottom:10px;
	vertical-align: middle;
}

/* base */
.base{
    width: 71%;
    /*border-bottom: 1px solid #eee;*/
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 3px;
    margin-right: 192px;
}

#logo{
    margin-top: 12px;
}
.masthead {
	height: auto;
	width: 97%;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

.text-center{
    padding-top:15px;
}

.lang-buttons{
    padding-left: 164px;
    margin-bottom: 12px;
}
.lang-buttons>li>a{
    background-color: #f7f8f9;
    color: #7fbeff;
    border-radius: 3px;
    padding: 4px 15px;
}
/* main page */

td{
    padding: 7px 39px;
    /*border-bottom: 1px solid #dcdcdc;*/
    /*border-right: 1px solid #dcdcdc;*/
    /*border-bottom: 1px solid #eaeaea;*/
    /*border-right: 1px solid #eaeaea;*/
    border-right: 1px solid #dceff4;

}

td:nth-last-child(1){
    border-right: 0;
}

tr{
     border-bottom: 1px solid #dceff4;
}
tr:nth-last-child(1){
    border-bottom:0;
}



.main-content{
    width: 79% ;
    padding-left: 0px;
    border: 0px solid black;
}

.main-panel{
	width: 71% ;
	border: 0px solid #337ab7;
	border-radius: 5px;
    margin-right: 193px;
}

.main-panel-row{
    background-color: #FDD15D;
    border-radius: 5px;
}

.panel-keywords{
    padding-right: 15px;
    padding-left: 3px;
}

#keywords:focus{
    border: 0px !important;
    outline-style: none !important;
    outline: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-inputs{
    padding-left: 0px;
}

.panel-text{
	margin: 20px 0 20px 12px;
}

#search-button{
	width: 124px;
    padding: 3px 12px;
    font-size: 18px;
}
.main-categories{
    width: 100% ;
    border: 0px solid black;
}

figure {
    text-align: center;
}

/*.main-info{*/
    /*width: 72% ;*/
    /*min-height: 50px;*/
    /*border: 1px solid black;*/
/*}*/

.info{
    /*border: 1px solid black;*/
    width: 91%;
    /*font-family: Verdana, Arial, Helvetica;*/
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: medium;
}

/* results */

.ads {
	width: 68%;
	margin-left: 16%;
	height: auto;
}

/* user dashboard */

#rate_plan {
	float: right;
	margin: 10px 0 0 0;
}

/* login */
#loginbox{
    margin-top: 30px;
}

/* dashboard */
.params{
    border: 1px solid #e6873c;
    border-radius: 5px;
}

.new-ads{
    font-size: large;
}

.error-text{
    color: red;
}

