/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {

}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* line 3, 1-tools/_normalize.scss */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* line 9, 1-tools/_normalize.scss */
body {
    margin: 0;
}

hr {
    margin: 0;
}

/* line 13, 1-tools/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* line 29, 1-tools/_normalize.scss */
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

/* line 37, 1-tools/_normalize.scss */
audio:not([controls]) {
    display: none;
    height: 0;
}

/* line 42, 1-tools/_normalize.scss */
[hidden],
template {
    display: none;
}

/* line 47, 1-tools/_normalize.scss */
a {
    background-color: transparent;
}

/* line 51, 1-tools/_normalize.scss */
a:active,
a:hover {
    outline: 0;
}

/* line 56, 1-tools/_normalize.scss */
abbr[title] {
    border-bottom: 1px dotted;
}

/* line 60, 1-tools/_normalize.scss */
b,
strong {
    font-weight: bold;
}

/* line 65, 1-tools/_normalize.scss */
dfn {
    font-style: italic;
}

/* line 69, 1-tools/_normalize.scss */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* line 74, 1-tools/_normalize.scss */
mark {
    background: #ff0;
    color: #000;
}

/* line 79, 1-tools/_normalize.scss */
small {
    font-size: 80%;
}

/* line 83, 1-tools/_normalize.scss */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/* line 91, 1-tools/_normalize.scss */
sup {
    top: -0.5em;
}

/* line 95, 1-tools/_normalize.scss */
sub {
    bottom: -0.25em;
}

/* line 99, 1-tools/_normalize.scss */
img {
    border: 0;
}

/* line 103, 1-tools/_normalize.scss */
svg:not(:root) {
    overflow: hidden;
}

/* line 107, 1-tools/_normalize.scss */
figure {
    margin: 1em 40px;
}

/* line 111, 1-tools/_normalize.scss */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* line 117, 1-tools/_normalize.scss */
pre {
    overflow: auto;
}

/* line 121, 1-tools/_normalize.scss */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* line 129, 1-tools/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/* line 139, 1-tools/_normalize.scss */
button {
    overflow: visible;
}

/* line 143, 1-tools/_normalize.scss */
button,
select {
    text-transform: none;
}

/* line 148, 1-tools/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* line 156, 1-tools/_normalize.scss */
button[disabled],
html input[disabled] {
    cursor: default;
}

/* line 161, 1-tools/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* line 167, 1-tools/_normalize.scss */
input {
    line-height: normal;
}

/* line 171, 1-tools/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* line 177, 1-tools/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/* line 182, 1-tools/_normalize.scss */
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* line 189, 1-tools/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* line 194, 1-tools/_normalize.scss */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/* line 200, 1-tools/_normalize.scss */
legend {
    border: 0;
    padding: 0;
}

/* line 205, 1-tools/_normalize.scss */
textarea {
    overflow: auto;
}

/* line 209, 1-tools/_normalize.scss */
optgroup {
    font-weight: bold;
}

/* line 213, 1-tools/_normalize.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 218, 1-tools/_normalize.scss */
td,
th {
    padding: 0;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

/*	Typography presets
  ------------------------------------	*/
/* line 5, 2-basics/_base.scss */
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* line 9, 2-basics/_base.scss */
.gigantic {
    font-size: 110px;
    line-height: 1.09em;
    letter-spacing: -2px;
}

/* line 14, 2-basics/_base.scss */
.huge, h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 1.05em;
    letter-spacing: -1px;
}

/* line 21, 2-basics/_base.scss */
.large, h2 {
    font-size: 35px;
    line-height: 1.14em;
}

/* line 25, 2-basics/_base.scss */
.bigger, h3 {
    font-size: 26px;
    line-height: 1.38em;
}

/* line 29, 2-basics/_base.scss */
.big, h4 {
    font-size: 22px;
    line-height: 1.38em;
}

/* line 33, 2-basics/_base.scss */
.small, small {
    font-size: 13px;
    line-height: 1.2em;
}

/* line 38, 2-basics/_base.scss */
strong {
    font-weight: bold;
}

/* Links
  ------------------------------------	*/
/* line 47, 2-basics/_base.scss */
a {
    color: #353535;
    text-decoration: none;
    outline: 0;
}

/* line 52, 2-basics/_base.scss */
a:hover, a:focus {
    color: #686868;
}

/* Basic Styles
  ------------------------------------	*/
/* line 61, 2-basics/_base.scss */
html {
    height: 100%;
}

/* line 64, 2-basics/_base.scss */
body {
    height: 100%;
    min-height: 100%;
    /*  font-size: 14px;
      font-family: 'Open Sans', sans-serif;*/
    color: #777;
}

/*
svg
  +size(100%)

@media screen and (max-width: 480px)
  h3
    padding: 50px 0 50px*/
/* line 1, 4-pages/_header.scss */
.clearfix {
    clear: both;
}

/* line 2, 4-pages/_header.scss */
header {
}

/* line 4, 4-pages/_header.scss */
header nav {
    height: 67px;
    background: #FFFFFF;
}

/* line 7, 4-pages/_header.scss */
header nav .logo {
    height: 75px;
    width: 28%;
    float: left;
}

/* line 13, 4-pages/_header.scss */
header nav .logo .main {
    display: inline-block;
    max-width: 90%;
    height: auto;
    vertical-align: 50%;
    padding-left: 153px;
}

/* line 17, 4-pages/_header.scss */
header nav .logo .alternative {
    display: none;
}

/* line 20, 4-pages/_header.scss */
header nav .login {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url(../../img/user.png) center center;
    float: right;
    margin: 15px 177px 0px 0px;
}

.login > span:hover {
    text-decoration: underline;
}

/* line 28, 4-pages/_header.scss */
/* header nav .login span {
  display: block;
  font-size: 3.5em;
  margin: 5px -2px;
} */
/* line 35, 4-pages/_header.scss */
header nav .language {
    float: right;
    padding: 25px 1% 0 0;
    margin: 0px 0px 23px 2px;
}

.lang-button {
    border: 1px solid #FFA000;
    padding: 0 5px;
    margin: -4px 2px 2px 0px;
}

/* line 38, 4-pages/_header.scss */
header nav .language a {
    font-size: 1.2em;
    float: right;
    display: inline-block;
    margin-left: 20px;
}

/* line 47, 4-pages/_header.scss */
header .banner {
    height: 400px;
    background-size: cover;
    background: url(../../img/bg.png) no-repeat 0% -168px;
}

.homeStaticSlogan1 {
    padding: 100px 0 0 0;
    margin-left: 14%;
    width: 900px;
    text-align: left;
    font-size: 40px;
    font-family: 'Roboto', Helvetica, Arial;
    font-weight: 300;
    text-shadow: 2px 2px 2px #333333;
    color: #ffffff;
}

.homeStaticSlogan2 {
    margin-left: 14%;
    padding: 19px 0 0 0;
    width: 900px;
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, Arial;
    font-weight: 100;
    text-shadow: 2px 2px 2px #333333;
    color: #ffffff;
}

.homeStaticSlogan2 > li {
    padding-top: 10px;
}

/* line 53, 4-pages/_header.scss */
header .banner .advert {
    margin-top: 30px;
    text-align: center;
    display: none;
    color: #fff;
}

/* line 62, 4-pages/_header.scss */
.search {
    position: relative;
    top: 7%;
    width: 100%;
}

/* line 63, 4-pages/_header.scss */
.cf:before, .cf:after {
    content: "";
    display: table;
}

/* line 68, 4-pages/_header.scss */
.cf:after {
    clear: both;
}

/* line 72, 4-pages/_header.scss */
.cf {
    zoom: 1;
}

/*-------------------------------------*/
/* line 77, 4-pages/_header.scss */
.form-wrapper {
    width: 921px;
    padding: 15px;
    margin: 0px auto 0px auto;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 91, 4-pages/_header.scss */
.form-wrapper input {
    display: inline-block;
    width: 466px;
    margin-left: 4px;
    border-left: 20px solid #777;
    height: auto;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
}

/* line 106, 4-pages/_header.scss */
.form-wrapper select {
    width: 252px;
    padding: 9px 16px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* line 116, 4-pages/_header.scss */
option {
    height: 20px;
}

/* line 120, 4-pages/_header.scss */
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

/* line 128, 4-pages/_header.scss */
.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* line 134, 4-pages/_header.scss */
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* line 140, 4-pages/_header.scss */
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* line 146, 4-pages/_header.scss */
.form-wrapper .bigbutton {
    display: block;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 21%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 165, 4-pages/_header.scss */
.form-wrapper .smallbutton {
    display: none;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: #fff;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 50%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 182, 4-pages/_header.scss */
.form-wrapper .smallbutton span {
    font-size: 1.5em;
}

/* line 186, 4-pages/_header.scss */
.form-wrapper button:hover {
    background: #e54040;
}

/* line 190, 4-pages/_header.scss */
.form-wrapper button:active,
.form-wrapper button:focus {
    background: #c42f2f;
}

/* line 195, 4-pages/_header.scss */
.form-wrapper button:before {
    display: block;
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

/* line 206, 4-pages/_header.scss */
.form-wrapper button:hover:before {
    border-right-color: #e54040;
}

/* line 210, 4-pages/_header.scss */
.form-wrapper button:focus:before {
    border-right-color: #c42f2f;
}

/* line 214, 4-pages/_header.scss */
.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@media only screen and (max-width: 1086px) {
    /* line 221, 4-pages/_header.scss */
    header > nav > .logo > .main {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 783px) {
    /* line 224, 4-pages/_header.scss */
    header > nav > .logo > .main {
        display: none;
    }

    /* line 225, 4-pages/_header.scss */
    header > nav > .logo > .alternative {
        display: inline-block;
    }

    /* line 226, 4-pages/_header.scss */
    .search {
        position: absolute;
        top: 40%;
        width: 100%;
    }

    /* line 227, 4-pages/_header.scss */
    .form-wrapper .bigbutton {
        display: none;
    }

    /* line 228, 4-pages/_header.scss */
    .form-wrapper .smallbutton {
        display: block;
    }

    /* line 229, 4-pages/_header.scss */
    .form-wrapper button:before {
        display: none;
    }

    /* line 230, 4-pages/_header.scss */
    .form-wrapper {
        width: 455px;
    }

    /* line 231, 4-pages/_header.scss */
    .form-wrapper input {
        width: 400px;
        border: 0;
    }

    /* line 232, 4-pages/_header.scss */
    .form-wrapper select {
        padding: 9px 141px;
    }

    /* line 233, 4-pages/_header.scss */
    header > .banner {
        height: 586px;
        background: #FFC107;
    }

    /* line 234, 4-pages/_header.scss */
    header > .banner > .advert {
        display: block;
    }
}

@media only screen and (max-width: 495px) {
    /* line 238, 4-pages/_header.scss */
    .form-wrapper button:before {
        display: none;
    }

    /* line 239, 4-pages/_header.scss */
    .form-wrapper {
        width: 285px;
    }

    /* line 240, 4-pages/_header.scss */
    .form-wrapper input {
        width: 228px;
        border: 0;
    }

    /* line 241, 4-pages/_header.scss */
    .form-wrapper select {
        padding: 9px 55px;
    }
}

/* line 2, 4-pages/_categories.scss */
.alt-section {
    min-height: 100%;
    background: #fff;
}

/* line 9, 4-pages/_categories.scss */
.container {
    display: block;
    max-width: 1054px;
    margin: 5px 12%;
    background: #FFFFFF;
}

/* line 17, 4-pages/_categories.scss */
.container:after {
    content: '';
    display: block;
    clear: both;
}

/* line 23, 4-pages/_categories.scss */
.unit {
    width: 16%;
    margin: 1% 0.821%;
    height: 190px;
    float: left;
    background: #fff;
    min-width: 140px;
    padding: 4px 8px;
    border: 2px solid #ffffff;
}

.unit:hover {

    border: 2px solid #ffdc61;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    content: "";
    z-index: -1;
    text-decoration: underline;
}

figure {
    text-align: center;
    font-size: 21px;
    margin: 0;
}

figcaption {
    padding-top: 13px;
}

/* line 33, 4-pages/_categories.scss */
.cat {
    text-align: center;
    display: block;
    font-size: 8em;
    color: #595a5c;
    margin-top: 10px;
}

/* line 41, 4-pages/_categories.scss */
.topics {
    text-align: center;
    padding-top: 20px;
    font-size: 1.6em;
}

@media only screen and (max-width: 1205px) {
    /* line 47, 4-pages/_categories.scss */
    .container {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 925px) {
    /* line 53, 4-pages/_categories.scss */
    .unit {
        height: 160px;
    }

    /* line 54, 4-pages/_categories.scss */
    .cat {
        font-size: 7em;
    }
}

/* line 1, 4-pages/_information.scss */
.information {
    display: block;
    min-height: 100%;
    background: #fff;
    max-width: 963px;
    margin: 0 auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}

/* line 13, 4-pages/_information.scss */
.information:after {
    content: '';
    display: block;
    clear: both;
}

/* line 19, 4-pages/_information.scss */
.items {
    padding-top: 20px;
    float: left;
    display: inline-block;
    width: 50%;
}

/* line 25, 4-pages/_information.scss */
.items span {
    display: inline-block;
    color: #fff;
    padding: 18px 10px;
    font-size: 3em;
    background: #ffa000;
    border-radius: 100px;
    clear: both;
}

/* line 36, 4-pages/_information.scss */
.items .wrap {
    display: inline-block;
    width: 300px;
    padding-left: 15px;
}

/* line 41, 4-pages/_information.scss */
.items .wrap h4 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}

/* line 44, 4-pages/_information.scss */
.items .wrap p {
    font-size: 17px;
    padding-top: 15px;
}

@media only screen and (max-width: 886px) {
    /* line 50, 4-pages/_information.scss */
    .items > span {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 700px) {
    /* line 53, 4-pages/_information.scss */
    .items {
        width: 100%;
    }

    /* line 54, 4-pages/_information.scss */
    .wrap {
        width: 100%;
    }
}

/* line 2, 4-pages/_footer.scss */
footer {
    width: 100%;
    bottom: 0;
    /*height: 80px;*/
    color: black;
    font-size: 14px;
    padding: 10px 0px 0px 0px;
    z-index: -2;
    background-color: #E1E1E1;
}

.text-center {
    text-align: center;
    line-height: 25px;
}

footer > p > a:hover {
    text-decoration: underline;
}

/*


RESULTS


*/

.results-panel {
    width: 100%;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    /*background-color: #E1E1E1;*/
    padding: 10px 0;
    margin: 15px 0 20px 0;
}

.res-panel-color {
    background-color: #E6E6E6;
}

.res-panel {
    margin: 5px 13%;
    width: 80%;
}

.res-panel-elements {
    margin-bottom: 6px;
}

.price-params {
    width: 49%;
}

#save-params-button {
    width: 100%
}

#search-button {
    width: 50%;
}

#clear-form-data {
    border: 1px dashed #888;
    margin-left: 18px;
    padding: 0 10px;
    margin-top: 8px;
}

.sort-block {
    margin-left: 13%;
}

.sort-block-text {
    float: left;
    margin-top: 4px;
    font-size: 20px;
}

#sort-select {
    margin: 0 0 18px 30px;
    vertical-align: baseline;
    padding: 0 3px;
    height: 30px;
}

.ads {
    width: 1200px;
}

.ad {
    margin: 10px;
    padding: 10px;
    position: relative;
    padding-bottom: 0;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.ad:after {
    width: 93%;
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.date-column {
    width: 4.98666666% !important;
}

.picture-column {
    margin-left: 3.5% !important;
}

.ad-picture {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}

.location {
    padding: 10px 0;
}

.category {
    font-weight: normal;
}

.price-column {
    /*display:table;*/
    /*position:absolute;*/
    /*height: 100%;*/
    /*float:right;*/
    margin: 0;
}

.price-ad-row {
    /*display:table-row;*/
}

.price-ad {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    line-height: 10px;
    padding: 16px 0 0 51px;
    /*position:relative*/
    /*#F0F8FF
    #E7E8E8*/
}

.track-button {
    padding: 0 12px;
    top: 4%;
    margin: 20px 0 0 13px;
}

.delete-button {
    /*padding: 0 12px;*/
    top: 4%;
    margin: 20px 0 0 13px;
    width: 170px;
}

.ad-img-container {
    width: 200px;
    text-align: center;
}

/*



DASHBOARD




*/

.params {
    line-height: 1em;
}

.params-group-title {
    padding-left: 13%;
    margin: 3% 0 2% 0;
    color: #E67E22;
}

.ads-group-title {
    color: #E67E22;
    padding-left: 2%;
    margin: 4% 0 3%;
}

.param-title {
    color: black;
}

.params-site {
    margin-top: 10px;
}

.temp {
    padding-top: 89px;
}

.price-history-button {
    width: 170px;
    margin: 22px 0 0 13px;
}

.price-his-item {
    font-weight: bold;
}

.price-history-detailed-info {
    margin: 10px 0 0 13px;
    line-height: 1.5;
}

/* Back to top button*/

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 4%;
    display: none;
    text-indent: -9999px;
    background: url('../../img/top.png') no-repeat;
}