{% extends 'search/base.html' %}
{% load staticfiles %}
{% block title %}Про нас - find.org.ua {% endblock title %}

{% block content %}
<hr>
<div class="contact">
    Сервіс find.org.ua створений для того, щоб спростити та пришвидшити роботу з приватними оголошеннями. <br>
    З find.org.ua ви можете в одному місці шукати та відслідковувати усі оголошення України. <br>
    <br>
<ol>Переваги сервісу:
<li>Зручний пошук оголошень на всіх головних дошках, аукціонах та форумах України: olx.ua, aukro.ua, ria.com,
    besplatka.ua, aviso.ua і т.п., а також у спільнотах vk.com, odnoklassniki.ru.</li>
<li>Швидке відслідковування оголошень за заданими параметрами, а також зміни ціни на конкретне обране оголошення.</li>
<li>Регулярні сповіщення про появу нових оголошень через e-mail, мобільний додаток, плагін у браузері чи соціальні мережі.</li></ol>
    <br>
<ol>Вам слід скористатися find.org.ua, якщо
<li>Ви хочете на одному сайті одразу знайти усі приватні оголошення за вашим запитом, не шукаючи в багатьох різних місцях.
    find.org.ua дозволяє в одному списку зібрати абсолютно всі оголошення з головних майданчиків розміщення приватних оголошень.</li>
<li>Ви шукаєте товар, якого зараз немає на дошках оголошень, або вам не підходять ті товари, що є зараз. Просто натисніть
    "відслідковувати" біля параметрів пошуку, і нові оголошення регулярно приходитимуть на електронну пошту чи в
    мобільному додатку. Вам більше не потрібно постійно перевіряти сайти оголошень вручну, за вас все зробить наша система.</li>
<li>Ви заробляєте на перепродажі товарів через дошки оголошень і хочете першими дізнаватися про появу нових оголошень.
    Перейдіть на pro-версію, щоб налаштувати частоту перевірок до 1 разу в хвилину, збільшити кількість позицій для
    відслідковування та отримувати сповіщення по SMS.</li></ol>

    <br>
Відгуки та пропозиції відправляйте на find.org.ua@ukr.net
</div>
{% endblock content %}