{% extends 'search/base.html' %}
{% load staticfiles %}
{% block title %}Зворотній зв'язок - find.org.ua {% endblock title %}
{% block content %}
{#    <hr>#}
    <div class="feedback-wrapper">
        <iframe style="width: 100%; height: 100%; border: 0;" frameborder="0"
                src="http://reformal.ru/widget/961006"></iframe>
    </div>
{% endblock content %}