{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Пошук та відслідковування оголошень - find.org.ua {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link href={% static 'css/bootstrap.css' %} rel="stylesheet">#}
{#    <link href={% static 'css/own.css' %} rel="stylesheet">#}
    <link rel="stylesheet" href={% static 'stylesheets/1-tools/fontello/icons/css/fontello-codes.css' %}>
    <link rel="stylesheet" href={% static 'Skeleton-2.0.4/css/skeleton.css' %}>
    <link rel="stylesheet" href={% static 'Skeleton-2.0.4/css/normalize.css' %}/>
    <link rel="shortcut icon" type="image/x-icon" href={% static "img/favicon.ico" %}>
    <script type="text/javascript" src={% static 'js/jquery-2.1.3.min.js' %}></script>
    <script type="text/javascript" src={% static 'js/own.js' %}></script>
    <script type="text/javascript" src={% static 'js/csrf_check.js' %}></script>
    <script>document.write('<style>.price-history-detailed-info { display: none; }</style>');</script>
</head>

<body>
<div class="page-wrapper">
    <header>
        <nav>
            <div class="logo clearfix"><a href="/"><img class="main" src={% static 'img/logo.png' %}>
                <img class="alternative" src={% static 'img/logo.png' %}></a>
            </div>

            <div class="language ">
                <button class="button-standart lang-button" onclick="location.href='#'">рус</button>
                <button class="button-standart lang-button" onclick="location.href='#'">укр</button>
            </div>
            {% block login %}
            <a href="/login/">
                <div class="login "><span style="
    float: left;
    padding: 13px 0px 0px 46px;
    font-size: 23px;
"> Профіль </span></div>
            </a>
            {% endblock login %}
        </nav>
        {% block entry-panel %}
        {% endblock entry-panel %}
    </header>

    <div class="main-block">
        {% block panel %}


    {% endblock panel %}


        {% block filters %}
        {% endblock filters %}

        {% block content %}
        {% endblock content %}
    </div>
</div>

<footer class="footer">
    <p class="text-center"><a href="/about/">Про нас</a> | <a href="/feedback/">Зворотній зв'язок</a> |
        <a href="/cooperation/">Співпраця</a>
        <br><a href="/">find.org.ua</a>
        <br>2015</p>
    <br>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src={% static 'js/bootstrap.js' %}></script>
</body>
</html>
