{% load l10n %}
{% load staticfiles %}


{% if ads and ads != 'ajax load none' %}
    {% for ad in ads %}
        <div class="row ad">
            <div class="adve-border">
                <div class="one column date-column" id="left">
                    <p class="text-center">{{ ad.date | localize }}</p>

                    <p class="pbig"><strong>{{ ad.site }}</strong></p>
                </div>
                <div class="three columns picture-column" id="middle-left">
                    <div class="ad-img-container"><img class="ad-picture"
                                                       src={{ ad.photo_urls }} alt={{ ad.title }}></div>
                </div>
                <div class="five columns" id="middle-right">
                    <p><a href={{ ad.url }} target="_blank"><h4 id="head">{{ ad.title }}</h4></a></p>
                    <p class="location">{{ ad.location }}</p>

                    <p class="small p">{{ ad.category }} / {{ ad.subcategory }}</p>
                </div>

                <div class="three columns price-column" id="right">
                    <div class="price-ad-row"><span class="price-ad"><strong>{{ ad.price }} грн</strong></span>

                        {% if ad.price_history %}
                            <div class="price-history">
                                <button class="price-history-button" type="submit" name="price-history"
                                        id="history-ad-button">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Історія ціни
                                </button>

                                <div class="price-history-detailed-info">
                                    {% for price in ad.price_history %}
                                        <span class="price-his-item">{{ price.0 }} грн</span> - {{ price.1 }}
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>{% endif %}

                        {% if ad.last_update %}

                         <form method="post" class="delete-ad-form" id="delete-ad-form{{ ad.ad_id }}">
                                {% csrf_token %}
                                <input type="hidden" value={{ ad.ad_id }} name="ad_id">

                                <button class="delete-button" type="submit" name="delete-ad" id="delete-ad-button">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    Видалити
                                </button>
                            </form>


                        {% else %}

                            <form method="post" class="save-ad-form" id="save-ad-form{{ ad.ad_id }}">
                                {% csrf_token %}
                                <input type="hidden" value={{ ad.ad_id }} name="ad_id">

                                <button class="track-button" type="submit" name="save-ad" id="save-ad-button">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    Відслідковувати
                                </button>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Оголошень за вашим запитом поки що немає.</p>
    <p>Проте ви можете <a href="#">додати</a> ці параметри в обране, і ми сповістимо вас, коли щось з'явиться
    </p>
{% endif %}