{% extends "search/base.html" %}
{% load staticfiles %}

{% block entry-panel %}

        <div class="banner">
            <div class="advert"><h2>Пошук та відслідковування приватних оголошень України</h2></div>
            <div class="homeStaticSlogan1">Найкращий спосіб знайти вживані товари</div>
            <ul class="homeStaticSlogan2">
            <li>Пошук по всіх дошках оголошень України</li>
            <li>Сповіщення, коли з'являється нове оголошення або змінюється ціна</li>
            <li>Скоро: оптимальна ціна для кожного оголошення</li>
        </ul>
            <!-- <div class="homeStaticSlogan2">Пошук по всіх дошках оголошень України</div> -->
            <div class="search">
                <form class="form-wrapper cf" action="" method="post">
                    {% csrf_token %}
                {{  form.location }}

                {{ form.q }}
                        <script>
                        $(document).ready(function(){
                        $("#keywords").focus();
        });
                </script>
                        <button class="bigbutton" type="submit">Шукати</button>
                        <button class="smallbutton" type="submit"><span class="icon-search"></span></button>
            </form>
            </div>

    </div>
{% endblock entry-panel %}
{% block panel %}


{% endblock panel %}

{% block content %}

       <section class="alt-section">
    <div class="container">

        <a href="/ukraine/elektronika">
        <div class="unit">
            <figure>
                <img src={% static "img/elektronika.png" %} alt="">
                <figcaption>Електроніка</figcaption>
            </figure>
        </div></a>

        <a href="/ukraine/transport">
        <div class="unit">
            <figure>
                <img src={% static "img/transport.png" %} alt="">
                <figcaption>Транспорт</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/detskij-mir">
        <div class="unit">
            <figure>
                <img src={% static "img/baby.png" %} alt="">
                <figcaption>Дитячий світ</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/bytovaja-tehnika">
        <div class="unit">
            <figure>
                <img src={% static "img/tehnika.png" %} alt="">
                <figcaption>Побутова техніка</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/dom-i-sad">
        <div class="unit">
            <figure>
                <img src={% static "img/house.png" %} alt="">
                <figcaption>Дім і сад</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/sport-i-zdorove">
        <div class="unit">
            <figure>
                <img src={% static "img/sport.png" %} alt="">
                <figcaption>Спорт і здоров'я</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/krasota-i-aksessuary">
        <div class="unit">
            <figure>
                <img src={% static "img/krasa.png" %} alt="">
                <figcaption>Краса та аксесуари</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/odezhda-obuv">
        <div class="unit">
            <figure>
                <img src={% static "img/clothes.png" %} alt="">
                <figcaption>Одяг і взуття</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/obschenie">
        <div class="unit">
            <figure>
                <img src={% static "img/communication.png" %} alt="">
                <figcaption>Спілкування</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/uslugi">
        <div class="unit">
            <figure>
                <img src={% static "img/uslugi.png" %} alt="">
                <figcaption>Послуги та бізнес</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/zhivotnye-i-dlya-zhivotnyh">
        <div class="unit">
            <figure>
                <img src={% static "img/animals.png" %} alt="">
                <figcaption>Тварини</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/remont-i-stroitelstvo">
        <div class="unit">
            <figure>
                <img src={% static "img/remont.png" %} alt="">
                <figcaption>Будівництво та ремонт</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/hobbi-i-dosug">
        <div class="unit">
            <figure>
                <img src={% static "img/hobby.png" %} alt="">
                <figcaption>Хобі та відпочинок</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/drugoe">
        <div class="unit">
            <figure>
                <img src={% static "img/rizne.png" %} alt="">
                <figcaption>Інше</figcaption>
            </figure>
        </div></a>
        <a href="/ukraine/obmen">
        <div class="unit">
            <figure>
                <img src={% static "img/obmin.png" %} alt="">
                <figcaption>Обмін</figcaption>
            </figure>
        </div></a>

    </div>
</section>
{% endblock content %}