{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Пошук та відслідковування оголошень - find.org.ua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href={% static 'css/bootstrap.css' %} rel="stylesheet">
      <link href={% static 'css/own.css' %} rel="stylesheet">
      <script type="text/javascript" src={% static 'js/jquery-2.1.3.min.js' %}></script>
  </head>

  <body>
  <div class="base">
      <div class="masthead">
          <div class="row">
              <div class="col-md-4" id="logo">
                  <a href="/"><img src={% static 'img/logo.png' %}> </a>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  <ul class="nav nav-pills lang-buttons">
                      <li><a href="#">UA</a></li>
                      <li><a href="#">RU</a></li>
                  </ul>
                  {% if request.user.is_authentificated %}
                  <a class="lead" style="padding-left: 152px" href="/profile/">{{ request.user.username }}</a>
                      {{ request.user.id }}
                      <a href="/logout/"> Вийти </a>
                  {%  else %}
                      <a class="lead" style="padding-left: 152px" href="/login/">Мій профіль</a>
                      not authenitifcated
                      user id : {{ request.user.id }}
                  {% endif %}
              <a href="/logout/"> Вийти </a>
              </div>

          </div>
          <div class="row">
              <div class="col-md-8"><p>Сайт у розробці, баг на кожному кроці</p></div>
              <div class="col-md-4"></div>
          </div>

      </div>
  </div>
	
{% block panel %}
    

{% endblock panel %}

	
{% block filters %}
{% endblock filters %}
	
{% block content %}
{% endblock content %}

      <hr>

      <footer class="footer">
        <p class="text-center"><a href="/about/">Про нас</a> | <a href="/feedback/">Зворотній зв'язок</a> |
            <a href="/cooperation/">Співпраця</a> | <a href="/pro-version/">Платні послуги</a> | <a href="/sitemap/">Карта сайту</a> |
            <a href="/terms-and-conditions/">Умови користування</a>
		<br><a href="/">find.org.ua</a>
		<br>2015</p>
          <br>
      </footer>

    </div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src={% static 'js/bootstrap.js' %}></script>
  </body>
</html>
