{% extends "search/base.html" %}
{% load staticfiles %}
{% block panel %}
	<form action="" method="post">
    {% csrf_token %}
		<div class="container main-panel">
			<div class="row main-panel-row">
				<div class="col-md-7 panel-keywords">
					{{ form.q }}
                    <script>
                        $(document).ready(function(){
                            $("#keywords").focus();
                            });
                    </script>
				</div>
			
				
				<div class="col-md-3 panel-inputs">
					<div class="form-group">
						{{  form.location }}
					</div>
				</div>

				<input type="hidden" value="0" name="pmin">
				<input type="hidden" value="0" name="pmax">
				<input type="hidden" value="" name="category">
				<input type="hidden" value="" name="seller">
				<input type="hidden" value="" name="condition">

				<div class="col-md-2 panel-inputs">
					<button class="btn btn-primary panel-text" id="search-button">Пошук</button>
				</div>


			</div>
				
				
			</div>
		</div>
	</form>

 <br>

{% endblock panel %}

{% block content %}
    <div class="container main-content">
        <div class="container main-categories">
            <table>
                <tr>
                    <td> <figure>
                        <a href="/ukraine/{{ categories.CATEGORY.ELEKTRONIKA }}">
                            <img src={% static 'img/categories/elektronika.png' %}>
                            <figcaption>Електроніка</figcaption>
                        </a>
                    </figure>
                    </td>
                    <td><figure>
                        <a href="/ukraine/transport">
                            <img src={% static 'img/categories/transport.png' %}>
                            <figcaption>Транспорт</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/detskij-mir">
                            <img src={% static 'img/categories/detskiy-mir.png' %}>
                            <figcaption>Дитячий світ</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/bytovaya-tehnika">
                            <img src={% static 'img/categories/bytovaja-technika.png' %}>
                            <figcaption>Побутова техніка</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/{{ categories.CATEGORY.ELEKTRONIKA }}">
                            <img src={% static 'img/categories/dom-i-sad.png' %}>
                            <figcaption>Дім і сад</figcaption>
                        </a>
                    </figure></td>
                </tr>
                <tr>
                    <td><figure>
                        <a href="/ukraine/transport">
{#                            <img src={% static 'img/categories/sport-i-zdorovje.png' %}>#}
                            <img src={% static 'img/categories/hobbi-otdyh-sport.png' %}>
                            <figcaption>Спорт і здоров'я</figcaption>
                        </a>
                    </figure></td>
                    <td> <figure>
                        <a href="/ukraine/detskiy-mir">
                            <img src={% static 'img/categories/krasota.png' %}>
                            <figcaption>Краса й аксесуари</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/bytovaja-technika">
                            <img src={% static 'img/categories/odezhda.png' %}>
                            <figcaption>Одяг та взуття</figcaption>
                        </a>
                    </figure></td>
                    <td> <figure>
                        <a href="/ukraine/{{ categories.CATEGORY.ELEKTRONIKA }}">
                            <img src={% static 'img/categories/society.png' %}>
                            <figcaption>Спілкування</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/transport">
                            <img src={% static 'img/categories/uslugi.png' %}>
                            <figcaption>Послуги та бізнес</figcaption>
                        </a>
                    </figure></td>
                </tr>
                <tr>
                    <td><figure>
                        <a href="/ukraine/detskiy-mir">
                            <img src={% static 'img/categories/zhivotnye.png' %}>
                            <figcaption>Тварини</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/{{ categories.CATEGORY.ELEKTRONIKA }}">
                            <img src={% static 'img/categories/budivnytstvo.png' %}>
                            <figcaption>Будівництво та ремонт</figcaption>
                        </a>
                    </figure></td>
                    <td> <figure>
                        <a href="/ukraine/{{ categories.CATEGORY.ELEKTRONIKA }}">
                            <img src={% static 'img/categories/hobby.png' %}>
                            <figcaption>Хобі та відпочинок</figcaption>
                        </a>
                    </figure></td>
                    <td><figure>
                        <a href="/ukraine/bytovaja-technika">
                            <img src={% static 'img/categories/drugoe.png' %}>
                            <figcaption>Інше</figcaption>
                        </a>
                    </figure></td>
                    <td></td>
                </tr>
            </table>
        </div>
       <div class="container info">
          <h2> Сервіс find.org.ua створений для того, щоб спростити та пришвидшити роботу з приватними оголошеннями. З find.org.ua ви можете в одному місці шукати та відслідковувати усі оголошення України.</h2>

<h3>Переваги сервісу:</h3>
<ol><li>Зручний пошук оголошень на всіх головних дошках, аукціонах та форумах України: olx.ua, aukro.ua, ria.com, 
    besplatka.ua, aviso.ua і т.п., а також у спільнотах vk.com, odnoklassniki.ru.</li>
<li>Швидке відслідковування оголошень за заданими параметрами, а також зміни ціни на конкретне обране оголошення.</li>
<li>Регулярні сповіщення про появу нових оголошень через e-mail, мобільний додаток, плагін у браузері чи соціальні мережі.</li> </ol>

<h3>Вам слід скористатися find.org.ua, якщо</h3>
           <ol>
               <li>Ви хочете на одному сайті одразу знайти усі приватні оголошення за вашим запитом, не шукаючи
                   в багатьох різних місцях. find.org.ua дозволяє в одному списку зібрати абсолютно всі оголошення
                   з головних майданчиків розміщення приватних оголошень.</li>
               <li>Ви шукаєте товар, якого зараз немає на дошках оголошень, або вам не підходять ті товари, що є зараз.
           Просто натисніть "відслідковувати" біля параметрів пошуку, і нові оголошення регулярно приходитимуть
           на електронну пошту чи в мобільному додатку. Вам більше не потрібно постійно перевіряти сайти оголошень
           вручну, за вас все зробить наша система.</li>
               <li>Ви заробляєте на перепродажі товарів через дошки оголошень і хочете першими дізнаватися про появу
                   нових оголошень. Перейдіть на <a href="/pro-version/">pro-версію</a>, щоб налаштувати частоту перевірок до 1 разу в хвилину,
                   збільшити кількість позицій для відслідковування та отримувати сповіщення по SMS.</li>
           </ol>




       </div>


    </div>
{% endblock content %}