{% extends "search/base.html" %}
{% load staticfiles %}
{% load l10n %}
{% block title %}   Результати пошуку - find.org.ua {% endblock title %}
{% block panel %}

    <div class="results-panel res-panel-color">
        <form method="post" id="params-form">
            {% csrf_token %}
            <div class="container res-panel-color res-panel">
                <div class="row" id="panelrow">
                    <div class="four columns">
                        {{ form.category }}
                        {{ form.subsubcategory }}
                        <div class="filter-wrapper">
                            {% if filters %}
                            {% for filter in filters %}
                                {{ filter }}
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div id="panelbot">
                            <button class="button-primary" type="submit" name="search" id="search-button">Пошук
                            </button>
                            <button id="clear-form-data"><img src={% static "img/cross.png" %} alt=""></button>
                        </div>
                    </div>
                    <div class="four columns">
                        {{ form.q }}
                        {{ form.pmin }}
                        {{ form.pmax }}
                    </div>
                    <div class="three columns">
                        {{ form.location }}

                       <div id="panelbot">
                            <button class="button red" type="submit" name="save-params" id="save-params-button">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Зберегти параметри
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock panel %}
<br>
<br>
{% block filters %}
{% endblock filters %}
<br>
{% block content %}

      {% if ads and ads != "ajax load none" %}
                <div class="sort-block">
                    <div class="sort-block-text">Показати:</div>
                <select name="sort" id="sort-select">
                    <option value="date">Найновіші</option>
                    <option value="price_min">Найдешевші</option>
                    <option value="price_max">Найдорожчі</option>
                </select>
            </div>
        <hr>
    {% endif %}

    <div class="content-wrapper">
        <div class="container ads" id="ads-container">
            <a href="#" class="scrollup"><span>Догори</span></a>
            {% show_content ads %}
        </div>
    </div>

{% endblock content %}
  
